<nav class="grey darken-3">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">StroyBooks</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/stories">Public Stories</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>
</nav>