<div class="row">
    <div class="col s12 m8">
        <a href="/dashboard" class="btn  red right" style="position:fixed; ">back</a>
        <h3>
            <%=story.body%>
        </h3>

    </div>
</div>